.react-responsive-modal-container.react-responsive-modal-containerCenter {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.react-responsive-modal-modal {
    width: 100%;
    max-width: 1124px;
}
.react-responsive-modal-modal {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    border-radius: 7px;
}

.table > :not(:last-child) > :last-child > * {
    border-bottom-color: rgb(222, 226, 230) !important;
}
